
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Use full viewport height */
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px; /* Adjust based on your preference */
  height: 100%;
  background-color: #f0f0f0; /* Light grey background */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* Enable scrolling if many letters */
}

.list-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
